<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/buttons.css"/>
        <link rel="stylesheet" href="stylesheets/index.css"/>
        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://*.firebaseio.com wss://*.firebaseio.com http://*.openstreetmap.org https://auth.firebase.com https://accounts.google.com  https://rippleapi.herokuapp.com data: gap: https://ssl.gstatic.com; style-src 'self' 'unsafe-inline'; media-src *" />
        <!-- Cordova.js ... brings in plugin dependencies -->
        <script src="cordova.js"></script>
        <!-- AngularJS -->
        <script src="js/angular.min.js"></script>

        <!-- Firebase -->
        <script src="js/firebase-debug.js"></script>

        <!-- AngularFire -->
        <script src="js/angularfire.min.js"></script>
        <script src="js/index.js"></script>
        <style>
            .ng-hide{
                display:none;
            }

            #logBtn{
                display: block;
                width: 100%;
            }

            #mainMenuDiv{
                position: relative;
                margin: 7%;
        </style>
    </head>

    <body>
        <div id="mainButton" ng-app = "myApp" ng-controller ="myCtrl" >
            <form ng-hide="auth != null">
                <button id="logBtn" ng-hide="google!=null" type ="submit" ng-click="login()" class="button button-block button-rounded button-royal button-large"> Google Sign-in</button> <br>
                <button id="logBtn" ng-hide="facebook!=null" type ="submit" ng-click="loginFb()" class="button button-block button-rounded button-royal button-large"> Facebook Sign-in </button><br>
            </form>
            <form ng-hide="auth == null" id="mainMenuDiv">
                <a href="#"  class="button button-block button-rounded button-royal button-large"> My Account </a><br>
                <a href="games.html"  class="button button-block button-rounded button-royal button-large"> Games </a><br>
                <a href="foodMenu.html"  class="button button-block button-rounded button-royal button-large"> Food Menu </a><br>
                <a href="#"  class="button button-block button-rounded button-royal button-large"> Settings </a> <br>
                <button id="logBtn" ng-click="logout()" class="button button-block button-rounded button-royal button-large"> Logout</button>
            </form>
        </div>
    </body>

</html>
