<html>
    <head>
          <!-- AngularJS -->
    <script src="js/angular.min.js"></script>
    <!-- Firebase -->
    <script src="js/firebase.js"></script>
    <!-- AngularFire -->
    <script src="js/angularfire.min.js"></script>

    <script src="js/index.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/index.css"/>
        <link rel="stylesheet" href="stylesheets/buttons.css"/>
        <link rel="stylesheet" href="stylesheets/checkbox.css"/>
        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="cordova.js"></script>
        <style type="text/css">
           input[type=checkbox]{
               transform: scale(1.5)
           };

            #coupon{
                width:100%;
            };

            img{
                width:100%;
            };

	    </style>
    </head>

    <body>
 <div ng-app="myApp" ng-controller="myCtrl">
        <form id="redeemForm">
            <p style=" color: purple; font-weight: 200; position: relative; font-size: 60px; top: 0px; "  ><span id="displayPoint" font-color="blue"></span></p>
            <input type="checkbox" id="discount10" name="redeem" value="discount10"> 15% off meal 50 points<br>
            <input type="checkbox" id="discountDrink" name="redeem" value="discountDrink"> Free Drink         100 points<br>
            <input type="checkbox" id="discountApp" name="redeem" value="discountApp"> Free Appetizer       200 points<br>
        </form>

        <form id="mainMenuDiv">
            <a href="#" ng-click="redeemPoints()" class="button button-block button-rounded button-royal button-large"> Redeem Points </a><br>
            <a href="#" ng-click="displayPoints()" class="button button-block button-rounded button-royal button-large"> Check Points </a><br>
        </form>
     <div id="coupon" hidden="hidden">
     </div>
     <font size="7"> <span id="msg" style="margin-left: 10cm;color:red;" hidden = "hidden"></span></font>
</div>
    </body>
</html>
