body {
    background: url(../images/glow_background.jpg);
    background-size:100% 100%;
}

#mainButton{
    width: 100% ;
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 55%;

}

#redeemForm{
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 55%;
    font-size: 30px;

}




